* {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: black;
}
a {
  color: currentColor;
  text-decoration: none;
}
.feedback-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  justify-content: center;
  font-weight: 400;

  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 50px;
}
.feedback-form input {
  width: 350px;
  height: 45px;
  margin-bottom: 30px;
  border-width: 1px;
  margin-top: 8px;
  border-radius: 8px;
  padding: 10px;
}
.feedback-form textarea {
  height: 80px;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  margin-bottom: 25px;
  resize: none;
  width: 350px;
}
.feedback-form button {
  padding: 8px 16px;
  font-weight: 500;
  line-height: 1.5;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  border-radius: 8px;
  border: none;
  margin-bottom: 50px;
}
.feedback-form button:hover {
  background-color: #6c8cff;
}
