ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.gallery-image {
  max-width: 360px;
  transition: all 1s ease-in-out;
}
.gallery-image:hover {
  transform: scale(1.06);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto 0;
  gap: 24px;
  width: 1128px;
}
.gallery-item {
  width: calc((100% -48px) 3);
}
.gallery-link:hover {
  cursor: pointer;
}
